.banner {
    margin-top: 20px;

    &-wrapper {
        border-radius: 6px;
        background-color: $white;
        border: 1px solid $gray-300;
        padding: 0px 0px 0px 20px;
        display: flex;
        height: 400px;
        column-gap: 10px;
        @media screen and (max-width:900px) {
            padding: 0px 0px 0px 0px;
            flex-direction: column;
            height: 40%;

            
        }
    }

    &-slider {
        max-width: 900px;
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        @media screen and (max-width:900px) {
            max-width: 100%;
            
        }


        &__title {
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
        }

        &__title.black {
            font-weight: 700;
        }

        &__title:not(:last-child) {
            margin-bottom: 10px;
        }

        &__btn {
            background-color: $white;
            border: 1px solid $gray-100;
            padding: 12px 16px;
            border-radius: 6px;
            margin-top: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            @include trn();

            @include hover() {
                &:hover {
                    background-color: $primary;
                    color: $white;
                    border: 1px solid $primary;
                }
            }
        }
    }
}

.categories {


    &-list {
        width: 250px; 
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media screen and (max-width:970px) {
            width: 200px;
            
        } 
        @media screen and (max-width:950px) {
            width: 150px;
            
        } 
        @media screen and (max-width:900px) {
            padding-left: 10px;
            
        } 

        &__item {
            display: block;
            border-radius: 6px;
            padding: 8px ;
            font-weight: 400;
            font-size: 16px;
            color: $gray-600;
            background-color: rgb(233, 240, 240);


            @include hover() {
                &:hover {
                    background-color: $primary-light;
                    font-weight: 500;
                    color: $dark;
                }
            }
        }
    }
}

.slider {

    &-banner {
        position: relative;
    }

    &-slide {

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit:scale-down;
            }
        }

        &__content {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 46px;
        }

        &__toptitle{
            font-weight: 400;
            font-size: 28px;
            line-height: 120%;
            color: $dark;
            margin-bottom: 4px;
        }
        
        &__title{
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            color: $dark;
            margin-bottom: 16px;
        }

        &__button{
            border: 1px solid $white;
            background-color: $white;
            border-radius: 6px;
            padding: 10px 16px; 
            font-weight: 500;
            font-size: 16px;
            color: $dark;
            @include trn();

            @include hover(){
                &:hover{
                    background-color: transparent;
                }
            }
        }


    }
}