.homeOutdoor {
  margin-top: 20px;

  &-wrapper {
    border-radius: 6px;
    background-color: $white;
    border: 1px solid $gray-300;
    display: flex;
    column-gap: 1px;
    height: 257px;
    @media screen and (max-width:770px) {
      height: 217px;
        
    }
    @media screen and (max-width:700px) {
      width: 355px;
        
    }
  }

  &-content {
    width: 280px;
    padding: 20px;
    position: relative;
    @include flex(unset, end);
    flex-direction: column;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
    @media screen and (max-width:770px) {
      width: 240px;
        
    }

    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 6px 0 0 6px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      position: relative;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: $white;
      z-index: 2;
    }

    &__button {
      position: relative;
      background-color: $white;
      border: 1px solid $gray-100;
      padding: 12px 16px;
      border-radius: 6px;
      margin-top: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      z-index: 2;
      @include trn();
      @media screen and (max-width:700px) {
        font-size: 12px;
      }

      @include hover() {
        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }

  &-products {
    width: calc(100% - 282px);
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width:700px) {
      overflow-x: scroll;
      width: 100%;
        
    }
  }
  
  &-product {
    width: 224px;
    height: 128px;
    padding: 20px 16px;
    position: relative;
    border: 1px solid $gray-300;
    @media screen and (max-width:770px) {
      width: 190px;
        
    }
    @media screen and (max-width:700px) {
      height: 108px;
        
    }
    
    &__title {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      @media screen and (max-width:770px) {
        font-size: 14px;
      }
    }
    
    &__price {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
      color: $gray-500;
      margin-top: 8px;
      @media screen and (max-width:770px) {
        font-size: 10px;
      }
    }

    &__image{
      width: 75px;
      height: 75px;
      position: absolute;
      bottom: 8px;
      right: 8px;
      @media screen and (max-width:700px) {
        bottom: 2px;
        right: 2px;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}